h1{
    color:#ffffff;
    font-size: 48px;
    text-align: center;
    font-family:arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

th{
    background-color: deepskyblue;
    color: white;
    padding: 12px;
    text-align: left;
}

td{
    padding: 12px;
    text-align: left;
}

table{
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    text-align: center;
}

img{
    padding-left: 60px;
    padding-right: 30px;
}

body{
    background-image: url(images/stars2.jpg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a{
    text-decoration: underline;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: #0d47a1
}







